header {
    text-align: center;
    border: 2px solid orange;
    position: static;
}

body {
    border: 2px solid red;
    height: 500px;
}

#main {
    display: flex;
}

#searchDiv {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    width: 30%;
}

#searchButton {
    padding: 5px;
}

#searchHistory {
    display: flex;
    flex-direction: column;
}

#currentCity {
    border: 2px solid black;
    width: 70%;
}

.hide-me {
    display: none;
}