header {
    text-align: center;
    border: 2px solid orange;
    position: static;
}

body {
    border: 2px solid red;
    background:rgb(53, 57, 68);
    color: white;
}

#main {
    display: flex;
}

ul {
    list-style-type: none;
    padding: 2px 6px;
}

li {
    padding: 2px 0px;
}

#searchDiv {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    width: 30%;
    padding: 15px;
}

#today {
    border: 2px solid white;
}

#searchButton {
    padding: 5px;
}

#searchHistory {
    display: flex;
    flex-direction: column;
}

.searchedCities {
    margin: 4px 0px;
}

#currentCity {
    border: 2px solid black;
    width: 70%;
    padding: 10px;
}

#today {
    padding-left: 5px;
}

#fiveDay {
    display: flex;
    flex-direction: row;
}

.plusDivs {
    background: rgb(44, 47, 59);
    color: white;
    margin: 5px;
    align-items: center;
}

#clearButton {
    background-color: red;
    color: white;
}

.hide-me {
    display: none;
}